.btn {
  min-width: 80px;
  height: 40px;
  padding: 10px;
  border: transparent;
  border-radius: 10px;
  margin-right: 40px;
  background-color: #9c77e0;
  font-size: 20px;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background-color: #433361;
    color: white;
  }
}
