.wrapper {
  background-color: #ccbee6;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.title {
  margin: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.wrapperBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
